<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} Title {% endblock %}</title>
    <style>
      body { padding: 30px; }
      header { padding: 30px; background-color: yellow; }
      a { color: black; }
      footer { background-color: palevioletred; padding: 30px; }
      .div1 { margin-left: 20px; }
    </style>
  </head>
  <body>
    <header>
      <h2>Header Section</h2>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
    </header>
    <div class="div1">{% block content %} {% endblock %}</div>
    <footer>
      <h3>This is the Footer</h3>
    </footer>
  </body>
</html>
